[Unit]
Description=GMediaRender Service to play stuff from UPNP in the LAN
After=pulseaudio.socket

[Service]
Environment="GMEDIARENDER_FRIENDLYNAME=\"GMediaRender %H\""
ExecStart=/usr/bin/env gmediarender --uuid "%m" --friendly-name "$GMEDIARENDER_FRIENDLYNAME"

[Install]
WantedBy=default.target
